<h3>Members</h3>

<div ng-controller="NgSoft.MembersController">
    <div class="row" ng-if="showDDl()">
        <div class="span12">
            <div class="form-control">
                <label for="ipps"> Showing  {{(pageSize < totalRecords)? pageSize*(currentPage+1):totalRecords}}  of {{totalRecords}} results</label>


                <select id="ipp" ng-model="selectedOption" ng-options="o.name for o in itemsPerPage" ng-change="setChange()" class="dropdown"></select>
            </div>
        </div>
    </div>
    <div class="row" ng-if="showPager()">
        <div class="span12">
            <div class="pagination">
                <ul>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range"
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage == (range.length) - 1}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <button type="button" ng-click="excel()" class="btn btn-primary"><i class="icon-download"></i>&nbsp; Export To Excel</button>
    </div>
    <hr />

    <div class="row">
        <div class="span12">
            <table class="table table-hover">
                <thead>
                    <tr class="center">
                        <th>ID</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Is Approved</th>
                        <th>Is Locked Out</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in members">
                        <td><a href ng-click="editMember()" class="ng-binding">{{member.Id}}</a></td>
                        <td>{{member.Name}}</td>
                        <td>{{member.Username}}</td>
                        <td>{{member.Email}}</td>
                        <td>{{member.IsApproved}}</td>
                        <td>{{member.IsLockedOut}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>